<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.sprinfgramework.org/schema/security">
<head>
    <title>Looking For Gamer</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <link type="text/css" rel="stylesheet" th:href="@{/css/custom.min.css}"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="padding-top:0">
<h2 style="padding-left:1em">Looking For Gamer</h2>


<div class="container">
    <div class="bs-component" style="margin-bottom:1rem;">
    </div>
    <div class="row around-md" id="baska">

        <a th:each="game : ${games}" th:href="@{/web/posters/{id}(id=${game.id})}" class="w-100 col-lg-4 d-flex align-items-stretch"
           style="overflow: hidden;padding-bottom: 1em; padding-right: 1em;">

                    <div class="card w-100" style="flex-direction: row;">
                        <img th:src="${game.coverUrl}"/>

                        <div class="card-header w-100 text-center" th:text="${game.name}"/>
                    </div>

        </a>

    </div>
</div>

<script>
function myFunction() {
    window.location.reload(false);
}
</script>

</body>
</html>