<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <link type="text/css" rel="stylesheet" th:href="@{/css/custom.min.css}"/>
</head>
<body>
<h1>Sign-up</h1>
<div class="col-md-4">
    <form th:object="${appUser}" th:action="@{/web/sign-up}" action="#" method="post">
        <div>
            <label> Username :<input type="text" th:field="*{username}" class="form-control"/></label>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
        </div>
        <div>
            <label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        </div>

        <input type="submit" class="btn btn-success" value="Signup">
    </form>
</div>
</body>
</html>